body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 80ch;
  padding: 4rem;
  padding-top: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  body {
    padding: 1rem;
    padding-top: 0;
  }
}

body article {
  border: 1px dashed #ddd;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #535353;
}

body article:first-child {
  margin-top: 0;
}

body article:last-child {
  margin-bottom: 0;
}

body article p:first-child {
  margin-top: 0;
}

body article time {
  font-size: 0.75rem;
}

body > section {
  border: 1px dashed #ddd;
  padding: 1rem;
  color: #535353;
}

body > footer {
  border-top: 1px dashed #ddd;
  margin-top: 1rem;
  padding-top: 1rem;
}

body > footer p {
  color: #666666;
  margin: 0;
  font-size: 0.65rem;
}

h1 {
  font-size: 1.15rem;
}

p {
  font-size: 0.75rem;
}

a {
  color: inherit;
}

body > header {
  position: relative;
  z-index: 20;
  background-image: url("../myndir/20130621_191621.jpg");
  background-position: 50% 40%;
  background-size: cover;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 4rem;
}

body > header::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.85)
  );
}

body > header h1 {
  margin: 0;
}
